
.red {
  color: red;
}
  
.bold {
  font-weight: bold;
}
.Cockpit button {
  background-color: green;
  color: white;
  font: inherit;
  border: 1px solid blue;
  padding: 8px;
  border-radius: 5px 5px 5px 5px;
  cursor: pointer;
}
  
.Cockpit button:hover {
  background-color:  purple;
  color: black;
}
  
.Cockpit button.Red {
  background-color: red;
}
  
.Cockpit button.Red:hover {
  background-color: purple;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}